@media (prefers-color-scheme: light) {
  :root {
    color: #2a3c20;
    background-color: #2a3c20;
    --primary-color: #2a3c20;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f0f0f0;
    background-color: #f0f0f0;
    --primary-color: #f0f0f0;
  }
}